<nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <!-- Utiliza la clase "header" para dar estilo al texto -->
            <h1 class="header">
              <!-- Agrega la imagen en línea -->
              Kimbo
              <img class="imgIcon" src="assets/images/iconGor.png" alt="Kimbo Logo" style="width: 65px; height: 75px;">
            </h1>
          </div>
        </div>
      </div>
    </div>
  </nav>