@import "../../../../node_modules/materialize-css/dist/css/materialize.min.css";

nav.top-nav {
  height: 110px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: transparent;
}

nav {
  color: black;
  width: 100%;
  height: 56px;
  line-height: 56px;

  margin-top: -20px; /* Ajusta este valor según sea necesario para elevar la imagen */
}

.imgIcon {
  margin-top: -20px; /* Ajusta este valor según sea necesario para elevar la imagen */
}
